* {
	font-family: Arial, Verdana, sans-serif;
	color: #fcf0f0;
    text-align: center;}
    
#nav, #feature, .article, #footer {
    background-color: #2f3f50e1;
    margin-top: 20px;
    padding: 10px 0px 5px 0px
}

li {
    display: inline;
    padding: 0.5em;
}

#feature, .article {
    height: 10em;
}